<IfModule mod_rewrite.c>
    RewriteEngine on
    Options +FollowSymlinks
    DirectoryIndex index.html

    ErrorDocument 404 http://localhost/botesparabasuraMVC/error
    RewriteCond %{SCRIPT_FILENAME} !-d
    RewriteCond %{SCRIPT_FILENAME} !-f
    
    RewriteRule ^catalogo$ catalogo.php
        
    RewriteRule ^catalogo/(.*)$ catalogo.php?controller=categoria&action=loadsubcat&categoria=$1

    RewriteRule ^subcategoria/(.*)$ catalogo.php?controller=subcategoria&action=loadproductos&subcategoria=$1
</IfModule>