<nav id="sidebar">
    <div id="dismiss">
        <i class="fas fa-arrow-left"></i>
    </div>
    <div class="sidebar-header">
        <h3>Menú</h3>
    </div>
    <ul class="list-unstyled components" id="sidebar-options">
        <p>Categorias</p>
    </ul>
    <div class="contacto">
        <p class="p-1">Contacto:</p>
        <p class="p-1 align-items-center d-flex">
            <span class="fa-stack fa-1x">
                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
            </span>
            <a class="ml-3" href="tel:+525546029795">(55)4602 9795</a>
        </p>
        <p class="p-1 align-items-center d-flex">
            <span class="fa-stack fa-1x">
                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
            </span>
            <a class="ml-3" href="mailto:ventas@botesparabasura.com" style="font-size: 16px;">ventas@botesparabasura.com</a>
        </p>
    </div>
</nav>
</div>
<!--Catalogo-->
<section id="catalogo" class="page-section">